{%  load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Elite Academy </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" type="image/x-icon" href="{% static 'website/img/logo/mini_logo.png' %}">
        <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}"> <!-- Perdorur ne me te shumten e klasave CSS per te funksionuar edhe me pajisje mobile -->
        <link rel="stylesheet" href="{% static 'website/css/animate.min.css' %}"> <!-- Per animacionet te slideshow -->
        <link rel="stylesheet" href="{% static 'website/css/slicknav.css' %}"> <!-- Menu per mobile -->
        <link rel="stylesheet" href="{% static 'website/css/themify-icons.css' %}"> <!-- Per ikonat (te shigjetave) -->
        <link rel="stylesheet" href="{% static 'website/css/slick.css' %}"> <!-- Per shigjetat -->
        <link rel="stylesheet" href="{% static 'website/css/style.css' %}"> <!-- CSS kryesore -->
   </head>

   <body>



    <header>
       <div class="header-area">
            <div class="main-header ">
                <div class="header-top top-bg d-none d-lg-block">
                   <div class="container-fluid">
                       <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left">
                                    <ul>
                                        <li><i class="fas fa-map-marker-alt"></i>Lagja 5, Rruga Jahja Ballhysa, Durres</li>
                                        <li><i class="fas fa-envelope"></i>marianobaci22@gmail.com</li>
                                    </ul>
                                </div>
                                <div class="header-info-right">
                                    <ul class="header-social">
                                        <li><a href="https://www.linkedin.com/in/mariano-baci-4b43981a7/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="https://www.facebook.com/mariano.baci.5" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                       </div>
                   </div>
                </div>
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-xl-2 col-lg-1 col-md-1">
                                <div class="logo">
                                    <picture>
                                      <source
                                        media="(max-width: 465px)"
                                        srcset="{% static 'website/img/logo/logo_mobile.png' %}">
                                      <img
                                        src="{% static 'website/img/logo/logo.png' %}"
                                        alt="logo">
                                    </picture>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-8 col-md-8">
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="/home">Home</a></li>
                                            <li><a href="/courses">Courses</a></li>
                                            <li><a href="/about">About</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            {% if std == None %}
                                <div class="col-xl-4 col-lg-3 col-md-3">
                                    <div class="header-right-btn f-right d-none d-lg-block">
                                        <a href="/login" class="btn header-btn">Log in</a>
                                        <a href="/signup" class="btn header-btn">Sign up</a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-xl-4 col-lg-3 col-md-3">
                                    <div class="header-right-btn f-right d-none d-lg-block">
                                        {% if user_type == "superuser" %}
                                            <a href="/all_students_courses" class="btn header-btn">Database</a>
                                        {% else %}
                                            <a href="/my_courses" class="btn header-btn">My courses</a>
                                        {% endif %}
                                        <a href="/logout" class="btn header-btn">Log out</a>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
    </header>




    <main>

        <div class="slider-area ">
            <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'website/img/slider_images/about_slider.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>About</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>








        <div class="team-profile team-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-4 col-md-6">
                        <div class="single-profile mb-30">
                            <div class="single-profile-front">
                                <div class="profile-img">
                                    <img src="{% static 'website/img/about/what_we_do.jpg' %}" alt="">
                                </div>
                                <div class="profile-caption">
                                    <h4>What does Elite Academy do?</h4>
                                    <p>Our idea is to offer instruction in the basic professions to encourage the young to stay in Albania and involve and integrate them into the business sector. We want to stop the brain drain of our young adults who leave Albania to find jobs elsewhere. We want to involve and integrate women and ethnic minorities in the tourism labor market. Our aim is for the Elbasan public schools to do this in the next few years so all Albanians can get a basic education regardless of their financial situation or gender.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4 col-md-6">
                        <div class="single-profile mb-30">
                            <div class="single-profile-back-last">
                                <h2>Our Partner</h2>
                                <p>The Elite Academy is the brand CSR (Corporate Social Responsibility) of Elite Travel Group. Since we are a member of Travelife, we support initiatives that have socio-economic impact, such as education and training. The Academy is open and affordable for everyone; it is a non-profit organization.</p>
                                <p>Elite Travel Group is directly financing the Academy and external donors are not allowed to donate monetary funds. Instead, they can support the Academy in-kind by contributing their abilities and knowledge as trainers and coaches, providing workshops, organizing scholarship programs, and supporting the development of innovative curricula for TOT (Trainer of Trainers)and for students.</p>
                                <a href="https://www.etg.al/" target="_blank">Visit Elite Travel Group »</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="we-trusted-area trusted-padding">
            <div class="container">
                <div class="row d-flex align-items-end">
                    <div class="col-xl-7 col-lg-7">
                        <div class="trusted-img">
                            <img src="{% static 'website/img/about/who_we_are.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5">
                        <div class="trusted-caption">
                           <h2>Who are we?</h2>
                           <p>Elite Travel Group, established in 2000, is based in Elbasan, Albania, with other offices in Tirana, Saranda, and throughout Albania. We operate regionally and cover most of Eastern Europe. We are a group of dedicated tourism professionals with a great deal of experience. We are constantly attentive to global tourism trends, especially digitalization, which is constantly changing our industry. We are aware of the urgent need for competent serving staff in Hospitality, and provide both introductory and advanced training that is specially adapted to the needs of the tourism and hospitality sector. Our courses are characterized by a combination of theoretical training and direct practice, based on the principles of dual study.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    <br>
    <br>
    <br>

    </main>
   <footer>
       <div class="footer-area footer-padding">
           <div class="container">
               <div class="row d-flex justify-content-between">
                   <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                      <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-logo">
                                <a href="/home"><img src="{% static 'website/img/logo/logo_footer.png' %}" alt=""></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p>Became the programmer of the future!</p>
                               </div>
                            </div>
                            <div class="footer-social">
                                <a href="https://www.facebook.com/mariano.baci.5" target="_blank"><i class="fab fa-facebook-square"></i></a>
                                <a href="https://www.linkedin.com/in/mariano-baci-4b43981a7/" target="_blank"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                      </div>
                   </div>
                   <div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
                       <div class="single-footer-caption mb-50">
                           <div class="footer-tittle">
                               <h4>Menu</h4>
                               <ul>
                                <li><a href="/home">Home</a></li>
                                <li><a href="/courses">Courses</a></li>
                                <li><a href="/about">About</a></li>
                               </ul>
                           </div>
                       </div>
                   </div>
                   <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                       <div class="single-footer-caption mb-50">
                           <div class="footer-tittle">
                               <h4>Account</h4>
                               <ul>
                                {% if std == None %}
                                    <li><a href="/login">Log in</a></li>
                                    <li><a href="/signup">Sign Up</a></li>
                                {% else %}
                                    {% if user_type == "superuser" %}
                                        <li><a href="/all_students_courses">Database</a></li>
                                    {% else %}
                                        <li><a href="/my_courses">My courses</a></li>
                                    {% endif %}
                                    <li><a href="/logout">Log Out</a></li>
                                {% endif %}
                               </ul>
                           </div>
                       </div>
                   </div>
                   <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                       <div class="single-footer-caption mb-50">
                           <div class="footer-tittle">
                               <h4>Get in Touch</h4>
                               <ul>
                                <li>(+355) 069-324-0247</li>
                                <li>marianobaci22@gmail.com</li>
                                <li>Durres, Albania</li>
                               </ul>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div class="footer-bottom-area footer-bg">
           <div class="container">
               <div class="footer-border">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-12 ">
                            <div class="footer-copy-right text-center">
                                <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made by Mariano Baci and Fatjon Furriku</p>
                            </div>
                        </div>
                    </div>
               </div>
           </div>
       </div>
   </footer>


	<!-- JS here -->

		<!-- Jquery-->
		<script src="{% static 'website/js/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'website/js/jquery.slicknav.min.js' %}"></script>
        <script src="{% static 'website/js/slick.min.js' %}"></script>
		<!-- Butoni per Scrollup -->
        <script src="{% static 'website/js/jquery.scrollUp.min.js' %}"></script>
		<!-- Javascript -->
        <script src="{% static 'website/js/main.js' %}"></script>

        
    </body>
</html>