{%  load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Elite Academy </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" type="image/x-icon" href="{% static 'website/img/logo/mini_logo.png' %}">
        <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}"> <!-- Perdorur ne me te shumten e klasave CSS per te funksionuar edhe me pajisje mobile -->
        <link rel="stylesheet" href="{% static 'website/css/animate.min.css' %}"> <!-- Per animacionet te slideshow -->
        <link rel="stylesheet" href="{% static 'website/css/slicknav.css' %}"> <!-- Menu per mobile -->
        <link rel="stylesheet" href="{% static 'website/css/themify-icons.css' %}"> <!-- Per ikonat (te shigjetave) -->
        <link rel="stylesheet" href="{% static 'website/css/slick.css' %}"> <!-- Per shigjetat -->
        <link rel="stylesheet" href="{% static 'website/css/style.css' %}"> <!-- CSS kryesore -->
   </head>

   <body>



    <header>
       <div class="header-area">
            <div class="main-header ">
                <div class="header-top top-bg d-none d-lg-block">
                   <div class="container-fluid">
                       <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left">
                                    <ul>
                                        <li><i class="fas fa-map-marker-alt"></i>Lagja 5, Rruga Jahja Ballhysa, Durres</li>
                                        <li><i class="fas fa-envelope"></i>marianobaci22@gmail.com</li>
                                    </ul>
                                </div>
                                <div class="header-info-right">
                                    <ul class="header-social">
                                        <li><a href="https://www.linkedin.com/in/mariano-baci-4b43981a7/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="https://www.facebook.com/mariano.baci.5" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                       </div>
                   </div>
                </div>
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-xl-2 col-lg-1 col-md-1">
                                <div class="logo">
                                    <picture>
                                      <source
                                        media="(max-width: 465px)"
                                        srcset="{% static 'website/img/logo/logo_mobile.png' %}">
                                      <img
                                        src="{% static 'website/img/logo/logo.png' %}"
                                        alt="logo">
                                    </picture>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-8 col-md-8">
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="/home">Home</a></li>
                                            <li><a href="/courses">Courses</a></li>
                                            <li><a href="/about">About</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            {% if std == None %}
                                <div class="col-xl-4 col-lg-3 col-md-3">
                                    <div class="header-right-btn f-right d-none d-lg-block">
                                        <a href="/login" class="btn header-btn">Log in</a>
                                        <a href="/signup" class="btn header-btn">Sign up</a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-xl-4 col-lg-3 col-md-3">
                                    <div class="header-right-btn f-right d-none d-lg-block">
                                        {% if user_type == "superuser" %}
                                            <a href="/all_students_courses" class="btn header-btn">Database</a>
                                        {% else %}
                                            <a href="/my_courses" class="btn header-btn">My courses</a>
                                        {% endif %}
                                        <a href="/logout" class="btn header-btn">Log out</a>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
    </header>



    <main>

        <div class="slider-area ">
            <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'website/img/slider_images/account_slider.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Welcome &nbsp;{{ std }} !</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% block body %}
    <br>
    <br>
    <br>
    <h4 style="text-align: center;">Watching table: My courses</h4>
    <br>
    <table class="table table-hover" style="width: 80%; margin-left: auto; margin-right: auto;">
        <thead>
            <tr>
                <th>Kursi</th>
                <th>Cmimi</th>
                <th>Dita</th>
                <th>Ora</th>
            </tr>
        </thead>
        <tbody>
            {% for item in prenotime %}
                <tr>
                    <td>{{ item.course_name }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.dita }}</td>
                    <td>{{ item.ora }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <br>
    <br>
    {% endblock %}

    </main>
   <footer>
       <div class="footer-area footer-padding">
           <div class="container">
               <div class="row d-flex justify-content-between">
                   <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                      <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-logo">
                                <a href="/home"><img src="{% static 'website/img/logo/logo_footer.png' %}" alt=""></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p>Became the programmer of the future!</p>
                               </div>
                            </div>
                            <div class="footer-social">
                                <a href="https://www.facebook.com/mariano.baci.5" target="_blank"><i class="fab fa-facebook-square"></i></a>
                                <a href="https://www.linkedin.com/in/mariano-baci-4b43981a7/" target="_blank"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                      </div>
                   </div>
                   <div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
                       <div class="single-footer-caption mb-50">
                           <div class="footer-tittle">
                               <h4>Menu</h4>
                               <ul>
                                <li><a href="/home">Home</a></li>
                                <li><a href="/courses">Courses</a></li>
                                <li><a href="/about">About</a></li>
                               </ul>
                           </div>
                       </div>
                   </div>
                   <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                       <div class="single-footer-caption mb-50">
                           <div class="footer-tittle">
                               <h4>Account</h4>
                               <ul>
                                {% if std == None %}
                                    <li><a href="/login">Log in</a></li>
                                    <li><a href="/signup">Sign Up</a></li>
                                {% else %}
                                    {% if user_type == "superuser" %}
                                        <li><a href="/all_students_courses">Database</a></li>
                                    {% else %}
                                        <li><a href="/my_courses">My courses</a></li>
                                    {% endif %}
                                    <li><a href="/logout">Log Out</a></li>
                                {% endif %}
                               </ul>
                           </div>
                       </div>
                   </div>
                   <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                       <div class="single-footer-caption mb-50">
                           <div class="footer-tittle">
                               <h4>Get in Touch</h4>
                               <ul>
                                <li>(+355) 069-324-0247</li>
                                <li>marianobaci22@gmail.com</li>
                                <li>Durres, Albania</li>
                               </ul>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div class="footer-bottom-area footer-bg">
           <div class="container">
               <div class="footer-border">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-12 ">
                            <div class="footer-copy-right text-center">
                                <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made by Mariano Baci and Fatjon Furriku</p>
                            </div>
                        </div>
                    </div>
               </div>
           </div>
       </div>
   </footer>


	<!-- JS here -->

		<!-- Jquery-->
		<script src="{% static 'website/js/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'website/js/jquery.slicknav.min.js' %}"></script>
        <script src="{% static 'website/js/slick.min.js' %}"></script>
		<!-- Butoni per Scrollup -->
        <script src="{% static 'website/js/jquery.scrollUp.min.js' %}"></script>
		<!-- Javascript -->
        <script src="{% static 'website/js/main.js' %}"></script>


    </body>
</html>